html,body {
  padding: 0;
  margin: 0;
  position: relative;
  font-size:14px;
  scroll-behavior: smooth;
  color:#666666;
  line-height:2em;
}
svg {
  max-width: 100%;
}
.main-font {
	font-size:2.2em;
	color: #556F57;
	line-height:0.8em;
	padding-bottom:0px;
	margin-bottom:0px;
}
.subtitle-font {
	font-size:1.2em;
	color: #4A4A4A;
	padding-top:0px;
	margin-top:0px;
}
.sideheading-font {
	font-size:1.2em;
	color: #c4697c;
	line-height:36px;
}
.grey-font {
	color: #666666;
}
.lightgrey-font {
	color: #999;
}

.wrapper {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.6em;
	color: #333;
}
.homebox {
  height: 100vh;
  width: 100%;
  position: relative;
  background: #FFF url(img/bg2.jpg) top left no-repeat;
  margin: 0;
  padding: 0;
  z-index:50;
}
  .homebox #intro {
  width: calc(100% - 300px);
  height: calc(100% - 200px);
	display:inline-block;
  	position: relative;
	margin:100px auto 100px 0;
	text-align: left;
  	font-family: Tahoma, Geneva, sans-serif;
	background-color:rgba(256, 256, 256, 0.6);
  }
  .homebox .left {
  width: 60%;
	left: 0; top: 0; bottom: 0;
  	position: absolute;
	margin:50px 0 50px 100px;
	padding:0;
  }
  .homebox .left .ease { 
	opacity:0;
  	animation-name: slidein;
  	animation-duration: 2s;
    animation-delay: 2s;
  	animation-fill-mode: forwards;
	}

@keyframes slidein {
  100% {
	  opacity:1;
  }
}

  .homebox .right {
	width: 30%;
	right: 0; top: 0; bottom: 0;
	margin:50px 50px 50px 0;
  	position: absolute;
  }
  .homebox img {
	width:300px;
  }
  
div.box {
  position: relative;
  margin:0px;
  padding:10px 0 10px 100px;
  background-color:#FFFFFF;
  z-index:160;
	font-size:0.9em;
}
  
.box .left{
	width:56%;
	display:inline-block;
}
.box .right{
	width:28%; 
	display:inline-block; 
	vertical-align:top;
	padding:10px 0 10px 20px;
	color:#556F57;
	line-height:1.6em;
	border:1px dashed #556F57; 
}
.calltoaction {
	width:50%;
	text-align:center;
	margin:65px auto 0 auto;
	color: #556F57;
}
.calltoaction a{
	display:inline;
	padding:5px;
	background-color: #556F57;
	color: #FFFFFF;
	border-radius: 10px;
	text-size:0.7em;
}
.calltoaction img{
	display:inline;
	width:inherit;
}

.skillbox {
	margin:10px 0 10px 0;
}
.skillbox div{
	display:inline-block;
	vertical-align:top;
	color:#333;
}
.skillbox div img {
	margin-right:20px;
	padding-top:5px;
	width:80px;
}

.typing {
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: left;
}

.typing-box {
  width: 15ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1em;
}

.titlebar {
	position: relative;
	background-color:#535a54;
	height:50px;
	padding:20px 0 0 100px;
	color:#dfebe0;
	font-variant:small-caps;
	font-size:1.3em;
	z-index:150;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.journey2 {
  background: var(--c1);
  height: 1000px;
  overflow: visible;
  position: relative;
  z-index:0;
}
.journey {
  background: var(--c1);
  height: 1000px;
  overflow: visible;
  position: relative;
  z-index:30;
  background: #FFF url(img/journeybg.jpg) top left no-repeat;
}
.journey__layer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(calc(var(--scrollPos, 0) * var(--offset, 0)));
  font-size:0.9em;
  color:#333333;
}
 svg{
	/* z-index:100; */
}
@media (prefers-reduced-motion: reduce) {
  .journey__layer {
    transform: translateY(0);
  }
}
.journey__image {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-height: 100%;
  max-width: 300%;
  min-width: 100%;
  position: absolute;
  transform: translateX(-50%);
  width: 100hh;
}
.journey__image svg {
  display: block;
  height: auto;
  max-width: 100%;
}
/**
 * Styles for demo
 */

html {  --c0: #feebe2;
  --c1: #FFFFFF;
  --c2: #ffb06d;
  --c3: #ff9d60;
  --c4: #ff8f4c;
  --c5: #fc813a;
  --c6: #f04f30;
  --c7: #d2353a;
  --c8: #8b1036;
  --c9: #620a38;
  --c10: #FFFFFF;
}
body {
  background: var(--c10);
  color: #fff;
  min-height: 200vh;
}
.wrap {
  margin: 5rem auto;
  max-width: 70rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
a {
  color: inherit;
  text-decoration-color: var(--c6);
}

.downbtn {
	position:fixed;
	width:60px;
	height:60px;
	bottom:70px;
	right:40px;
	background-color:#c4697c;
	color:#FFF;
	border-radius:50px;
	display: -webkit-flex;
  	display: flex;
  	align-items: center;
	text-align:center;
	vertical-align:middle;
	font-size:13px;
	box-shadow: 2px 2px 3px #999;
	z-index:10;
}
.downbtnup img{
	position:fixed;
	width:40px;
	bottom:130px;
	right:50px;
	z-index:10;
	}
.downbtndown img{
	position:fixed;
	width:40px;
	bottom:45px;
	right:50px;
	z-index:10;
	}
	
ul {
	padding:0;
}
ul li{
	list-style:circle;
	list-style-position:inside;
	line-height:1.4em;
}
ul li:not(:last-child) {
	margin-bottom:10px;
}
.rightnav {
	display:inline-block;
  	height: 100vh;
	background-color:#c4697c;
	margin:0 auto;
	right:30px;
	width:10px;
	z-index:3000;
}